MONGO_URI=mongodb+srv://fullstacksolutions101_db_user:343M42F0j3k0qjkb@cluster0.gg9wps1.mongodb.net/?appName=Cluster0
JWT_SECRET=mySecret
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
# Production: https://sharemyapps-server-653466296307.us-central1.run.app/api/auth/google/callback
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback
# Production: https://sharemyapps-498401.web.app
CLIENT_URL=http://localhost:5173
PORT=5000
NODE_ENV=development
OPENAI_API_KEY=your_openai_api_key
